.groups {
  padding: 1rem 0;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1em;
  column-gap: 1em;
}

.products {
  padding: 1rem 0;
}

.productList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
}
